body{
	background: #ebebeb;
	font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;
	color: #222;
	font-size: 12px;
}
*{padding: 0px;margin: 0px;}
.position-relative {
	position: relative;
}
.top_div{
	background: #008ead;
	width: 100%;
	height: 300px;
}
.ipt{
	border: 1px solid #d3d3d3;
	padding: 10px 10px;
	width: 340px;
	border-radius: 4px;
	padding-left: 35px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
}
.ipt:focus{
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}
.u_logo{
	background: url("../images/username.png") no-repeat;
	padding: 10px 10px;
	position: absolute;
	top: 43px;
	left: 40px;

}
.p_logo{
	background: url("../images/password.png") no-repeat;
	padding: 10px 10px;
	position: absolute;
	top: 12px;
	left: 40px;
}
a{
	text-decoration: none;
}
.tou{
	background: url("../images/tou.png") no-repeat;
	width: 97px;
	height: 92px;
	position: absolute;
	top: -87px;
	left: 140px;
}
.left_hand{
	background: url("../images/left_hand.png") no-repeat;
	width: 32px;
	height: 37px;
	position: absolute;
	top: -38px;
	left: 150px;
}
.right_hand{
	background: url("../images/right_hand.png") no-repeat;
	width: 32px;
	height: 37px;
	position: absolute;
	top: -38px;
	right: -64px;
}
.initial_left_hand{
	background: url("../images/hand.png") no-repeat;
	width: 30px;
	height: 20px;
	position: absolute;
	top: -12px;
	left: 100px;
}
.initial_right_hand{
	background: url("../images/hand.png") no-repeat;
	width: 30px;
	height: 20px;
	position: absolute;
	top: -12px;
	right: -112px;
}
.left_handing{
	background: url("../images/left-handing.png") no-repeat;
	width: 30px;
	height: 20px;
	position: absolute;
	top: -24px;
	left: 139px;
}
.right_handinging{
	background: url("../images/right_handing.png") no-repeat;
	width: 30px;
	height: 20px;
	position: absolute;
	top: -21px;
	left: 210px;
}
.wrap{
	background: rgb(255, 255, 255); 
	margin: -100px auto auto;
    border: 1px solid rgb(231, 231, 231); 
    border-image: none; 
    width: 400px; 
    height: 280px; 
    text-align: center;
}
.forget{
	width: 100%;
	margin-left: 0 !important;
	height: 50px; 
	line-height: 50px; 
	margin-top: 30px; 
	border-top-color: rgb(231, 231, 231); 
	border-top-width: 1px; 
	border-top-style: solid;
}
#register{
	/* color: rgb(204, 204, 204); */ 
	margin-right: 10px;
}
#login{
	background: rgb(0, 142, 173); 
	padding: 7px 25px; 
	border-radius: 4px; 
	border: 1px solid rgb(26, 117, 152); 
	border-image: none; 
	color: rgb(255, 255, 255); 
	font-weight: bold;
}
.registerButton{
	width:80px;
}
.registerButton:hover{
	background-color:#ccc;
}
#warn{
	color:#f00;
	font-size:12px;
	margin:0 0 5px 90px;
	display:none;
}
#registerButton{
/* 	color:#ccc; */
	background:rgb(0, 142, 173);
}
#signin{
	background:rgb(0, 142, 173);
	color:#fff;
	width:89%;
	margin:10px auto;
	
}
#signin:hover{
	text-decoration:underline; 
}
#sucRegister{
	text-align:center;
	display:none;
}
.errorWarn{
	font-size:12px;
	color:#f00;
	display:none;
}
.animal-div {
	width: 165px; 
	height: 96px;
	position: absolute;
}
.username-field {
	padding: 30px 0px 10px; 
	position: relative;
}

.valid-icon {
	visibility: hidden;
}





