.panel.panel-default
    .panel-heading 标题
    .panel-body= datas[0].title
.panel.panel-default
    div.panel-heading 内容
    div.panel-body.noteContent= datas[0].content
button.btn.btn-default(onclick="modifyNote();") 修改
&nbsp;&nbsp;
button.btn.btn-default(onclick="deleteNote();") 删除
script.
    function modifyNote() {
        $.ajax({
            url: '/modify',
            type: 'GET',
            data: {id: #{datas[0].id}},
            success: function(data) {
                $("#container").html(data);
            }
        })
    }
    function deleteNote() {
        var confirm = window.confirm("确定要删除此条笔记吗？");
        if (confirm) {
            $.ajax({
                url: '/delete',
                type: 'GET',
                data: {id: #{datas[0].id}},
                success: function(data) {
                    //document.write(data);
                    window.location.href = "/";
                }
            })
        }
        
    }
    
