doctype html
html
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        title 登录
        link(rel='stylesheet', href='stylesheets/bootstrap.css')
        link(rel='stylesheet', href='stylesheets/jquery.dataTables.css')
        link(rel='stylesheet', href='stylesheets/style.css')
        link(rel='stylesheet', href='stylesheets/login.css')

        style.
            @media screen and (max-width: 600px) {
                body {
                    background: #008ead;
                }
            }
    body
        .top_login
        .wrap
            form(target="/loginCheck", method="POST")
                div.animal-div
                    .tou
                    .login_left_hand#left_hand
                    .login_right_hand#right_hand
                p#username-field(style="padding: 30px 0px 10px; position: relative;")
                    span.u_logo   
                    input.ipt(type="text", oninput="changeUsername();", placeholder="请输入用户名", name="username", id="username")
                p#password-field(style="position: relative;")
                    span.p_logo
                    input.ipt#password(type="password", oninput="changeUsername();", placeholder="请输入密码", value="", name="password")
                //- p.errorWarn 用户名或密码错误，请重新输入
                p(style="color: red;")= message
                .forget
                    p.remember_me
                        label
                            input(type="checkbox", name="remember_me", id="remember_me") 
                            span 记住密码
                    span(style="float: right; margin-right: 30px")
                        a.btn.btn-default.registerButton(href="/signup") 注册
                    p#signin-field
                        input.btn.btn-primary#signin(type="submit" disabled value="登录")
        h1.introduce Ours-Notes
        script.
            window.onload = function() {
                var usernameDom = document.getElementById("username");
                var passwordDom = document.getElementById("password");
                if (usernameDom.value != "" && passwordDom.value != "") {
                    document.getElementById("signin").disabled = false;
                } else {
                    document.getElementById("signin").disabled = true;
                }
            }

            function changeUsername() {
                var usernameDom = document.getElementById("username");
                var passwordDom = document.getElementById("password");
                if (usernameDom.value != "" && passwordDom.value != "") {
                    document.getElementById("signin").disabled = false;
                } else {
                    document.getElementById("signin").disabled = true;
                }
            }
            
