doctype html
html
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        title 注册
        link(rel='stylesheet', href='stylesheets/bootstrap.css')
        link(rel='stylesheet', href='stylesheets/jquery.dataTables.css')
        link(rel='stylesheet', href='stylesheets/style.css')
        link(rel='stylesheet', href='stylesheets/login.css')

        script(src='javascripts/jquery.js')
        style.
            @media screen and (max-width: 600px) {
                body {
                    background: #448c44;
                }
            }
    body
        .top_signup
        .wrap
            form(target="/signup", method="POST")
                div.animal-div
                    .tou
                    .signup_left_hand#left_hand
                    .signup_right_hand#right_hand
                p#username-field(style="padding: 30px 0px 10px; position: relative;")
                    span.u_logo   
                    input.ipt(type="text", placeholder="请输入用户名", oninput="changeUsername();", name="username", id="username")
                p#password-field(style="position: relative;")
                    span.p_logo      
                    input.ipt#password(type="password",oninput="changeUsername();", placeholder="请输入密码", name="password")
                //- p.errorWarn 该用户名已被注册
                p(style="color: red;")= message
                .forget
                    p#signin-field
                        input.btn.btn-success#signin(type="submit" disabled value="注册")
                .login-back(style="margin-top: 20px;") 已有账户？请 <a href='/login'>登录</a>
        h1.introduce Notes and Fun!
        script.
            window.onload = function() {
                var usernameDom = document.getElementById("username");
                var passwordDom = document.getElementById("password");
                if (usernameDom.value != "" && passwordDom.value != "") {
                    document.getElementById("signin").disabled = false;
                } else {
                    document.getElementById("signin").disabled = true;
                }
            }

            function changeUsername() {
                var usernameDom = document.getElementById("username");
                var passwordDom = document.getElementById("password");
                if (usernameDom.value != "" && passwordDom.value != "") {
                    document.getElementById("signin").disabled = false;
                } else {
                    document.getElementById("signin").disabled = true;
                }
            }

            
